<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Изменить пароль</title>
</head>
<body>
<b th:if="${errorMessage != null}" th:text="${errorMessage}"></b>
<form action="#" th:action="@{/client/change-password}" method="post" th:object="${user}">
  <fieldset>
    <legend>Пожалуйста, введите данные</legend>
    <input type="hidden" id="username" th:field="*{username}"/>

    <label for="oldPassword">Старый пароль</label>
    <input type="password" id="oldPassword" th:field="*{oldPassword}"/>
    <p class="alert alert-warning" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></p>

    <label for="newPassword">Новый пароль</label>
    <input type="password" id="newPassword" th:field="*{newPassword}"/>
    <p class="alert alert-warning" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></p>

    <label for="newPassword">Повторите новый пароль</label>
    <input type="password" id="newPassword2" th:field="*{newPassword2}"/>
    <p class="alert alert-warning" th:if="${#fields.hasErrors('newPassword2')}" th:errors="*{newPassword2}"></p>

    <div class="form-actions">
      <button type="submit" class="btn">Изменить пароль</button>
    </div>
  </fieldset>
</form>
</body>
</html>