<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="UTF-8">
  <title>Аккаунт</title>
  <link th:href="@{/styles/cssandjs/style.css}" rel="stylesheet" />
</head>
<body>
<a href="/">
  <button type="button">Главная</button>
</a>
<a href="/men">
  <button type="button">Мужчинам</button>
</a>
<a href="/women">
  <button type="button">Женщинам</button>
</a>
<a href="/children">
  <button type="button">Детям</button>
</a>
<a href="/winter">
  <button type="button">Зима</button>
</a>
<a href="/summer">
  <button type="button">Лето</button>
</a>
<a href="/spring">
  <button type="button">Весна/Осень</button>
</a>
<a href="/demi">
  <button type="button">Демисезон</button>
</a>
<div sec:authorize="!isAuthenticated()">
  <a href="/login">
    <button type="button">Войти</button>
  </a>
  <a href="/registration">
    <button type="button">Регистрация</button>
  </a>
</div>
<div sec:authorize="isAuthenticated()">
  <a href="/client/account">
    <button type="button">Личный кабинет</button>
  </a>
  <span sec:authentication="name">Bob</span>
  <a href="/logout">
    <button type="button">Выйти</button>
  </a>
</div>
<br>
<ul>
  <li th:each="clientOrder : ${clientOrders}">
    <b th:text="'ИД заказа: ' + ${clientOrder.getOrderId()}"></b>
    <br>
    <b th:text="'Адрес доставки: ' + ${clientOrder.getDeliveryAddress()}"></b>
    <br>
    <b th:text="'Статус: ' + ${clientOrder.getOrderStatus()}"></b>
    <br>
    <table >
      <tr>
        <th>Название модели</th>
        <th>Количество</th>
        <th>Фото</th>
      </tr>
      <tr th:each="orderShoe : ${clientOrder.getOrderShoes()}">
        <td th:text="${orderShoe.getShoeModelDto().getModelName()}"></td>
        <td th:text="${orderShoe.getCount()}"></td>
        <td>
          <img th:src="${orderShoe.getShoeModelDto().getPhotoUrl()}" style="width:150px;height:160px;">
        </td>
      </tr>
    </table>
  </li>
</ul>
</body>
</html>