<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>MainPage</title>
</head>
<body>
<a href="/">
    <button type="button">Главная</button>
</a>
<div sec:authorize="isAuthenticated()">
    <a href="/order/bucket">
        <button type="button">Корзина</button>
    </a>
    <span sec:authentication="name">Bob</span>
    <a href="/client/account">
        <button type="button">Личный кабинет</button>
    </a>
    <a href="/logout">
        <button type="button">Выйти</button>
    </a>
</div>
<br>
<table>
    <th:block th:each="entry : ${createOrder.bucket.shoes}">
        <tr>
            <td>
                <a th:href="'/shoe/' + ${entry.getKey().getId()}">
                    <b th:text="${entry.getKey().getModelName()}"></b>
                </a>
                <br>
                <img th:src="${entry.getKey().getPhotoUrl()}">
                <br>
                <b th:text="${entry.getKey().getCost()}"></b>
                <br>
                <b th:text="'Количество: ' + ${entry.getValue()}"></b>
                <br>
                <a th:href="'/order/bucket/add/' + ${entry.getKey().getId()}">
                    <button type="button">+</button>
                </a>
                <a th:href="'/order/bucket/subtract/' + ${entry.getKey().getId()}">
                    <button type="button">-</button>
                </a>
            </td>
        </tr>
    </th:block>
</table>
<form action="#" th:action="@{/order/create}" method="post" th:object="${createOrder}">
    <fieldset>
        <legend>Пожалуйста, введите адрес доставки</legend>
        <label for="address">Адрес</label>
        <input type="text" id="address" th:field="*{address}"/>

        <input type="hidden" th:field="*{username}">

        <div class="form-actions">
            <button type="submit" class="btn">Сделать заказ</button>
        </div>
    </fieldset>
</form>
</body>
</html>